

<div *ngIf="product" style="text-align: center;" ><label><img src="{{product.image}}" width="500" height="300"/></label></div>
<div style="text-align: center;"><label>{{product.nameproduct}} <label>{{product.price}} DT</label></label></div>
<div></div>
<!--
<div *ngIf="product">
    <div>
      <label>id Product: </label> {{product.id_product}}
    </div>
    <div>
      <label>Title: </label> {{product.name_product}}
    </div>
    <div>
      <label>Price: </label> {{product.prix}}
    </div>
  </div-->
  